<div class="mailer">
    <div class="content-spacer">
        <form method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <textarea name="message" placeholder="Your message..." required></textarea>
            <button class="btn-cell primary wide" type="submit">Send <img src="/images/icons/send.svg"></button>
        </form>
    </div>
</div>